USE [master]
GO
/****** Object:  Database [APP_QUAN_LY_CONG_VIEC]    Script Date: 4/25/2024 4:07:35 PM ******/
CREATE DATABASE [APP_QUAN_LY_CONG_VIEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APP_QUAN_LY_CONG_VIEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\APP_QUAN_LY_CONG_VIEC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APP_QUAN_LY_CONG_VIEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\APP_QUAN_LY_CONG_VIEC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APP_QUAN_LY_CONG_VIEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APP_QUAN_LY_CONG_VIEC]
GO
/****** Object:  Table [dbo].[Cong_Viec]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cong_Viec](
	[ma_cv] [int] IDENTITY(1,1) NOT NULL,
	[tieu_de] [nvarchar](200) NOT NULL,
	[noi_dung] [ntext] NOT NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[tinh_chat] [int] NOT NULL,
	[chu_ki] [nvarchar](100) NOT NULL,
	[dung_sau_ngay] [date] NULL,
	[so_lan] [int] NULL,
	[ma_nd] [int] NOT NULL,
 CONSTRAINT [PK_Cong_Viec] PRIMARY KEY CLUSTERED 
(
	[ma_cv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cong_Viec_Ngay]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cong_Viec_Ngay](
	[ma_cv_ngay] [int] IDENTITY(1,1) NOT NULL,
	[ngay_lam] [date] NOT NULL,
	[trang_thai] [bit] NOT NULL,
	[ma_cv] [int] NOT NULL,
 CONSTRAINT [PK_Cong_Viec_Ngay] PRIMARY KEY CLUSTERED 
(
	[ma_cv_ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghi_Chu_Ca_Nhan]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghi_Chu_Ca_Nhan](
	[ma_gccn] [int] IDENTITY(1,1) NOT NULL,
	[tieu_de] [nvarchar](500) NOT NULL,
	[noi_dung] [ntext] NOT NULL,
	[ngay_chinh_sua] [date] NOT NULL,
	[ma_nd] [int] NOT NULL,
 CONSTRAINT [PK_Ghi_Chu_Ca_Nhan] PRIMARY KEY CLUSTERED 
(
	[ma_gccn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghi_Chu_Mat_Khau]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghi_Chu_Mat_Khau](
	[ma_gcmk] [int] IDENTITY(1,1) NOT NULL,
	[tieu_de] [nvarchar](500) NOT NULL,
	[tai_khoan] [ntext] NULL,
	[mat_khau] [ntext] NOT NULL,
	[ghi_chu_khac] [ntext] NOT NULL,
	[ma_nd] [int] NOT NULL,
 CONSTRAINT [PK_Ghi_Chu_Mat_Khau] PRIMARY KEY CLUSTERED 
(
	[ma_gcmk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hinh_Anh]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hinh_Anh](
	[ma_hinh] [int] IDENTITY(1,1) NOT NULL,
	[link] [text] NOT NULL,
	[ma_cv_ngay] [int] NOT NULL,
 CONSTRAINT [PK_Hinh_Anh] PRIMARY KEY CLUSTERED 
(
	[ma_hinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[ma_nd] [int] IDENTITY(1,1) NOT NULL,
	[ho] [nvarchar](50) NULL,
	[ten] [nvarchar](50) NULL,
	[ngay_sinh] [date] NOT NULL,
	[gioi_tinh] [bit] NOT NULL,
	[email] [varchar](500) NOT NULL,
	[mat_khau] [ntext] NOT NULL,
	[ma_pin] [ntext] NULL,
 CONSTRAINT [PK_Nguoi_Dung] PRIMARY KEY CLUSTERED 
(
	[ma_nd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Su_Kien]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Su_Kien](
	[ma_sk] [int] IDENTITY(1,1) NOT NULL,
	[ten_su_kien] [nvarchar](500) NOT NULL,
	[ngay] [date] NOT NULL,
	[gio] [varchar](7) NOT NULL,
	[nhac_truoc] [int] NOT NULL,
	[ngay_nhac] [date] NOT NULL,
	[mo_ta] [ntext] NULL,
	[ma_nd] [int] NOT NULL,
 CONSTRAINT [PK_Su_Kien] PRIMARY KEY CLUSTERED 
(
	[ma_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cong_Viec]  WITH CHECK ADD  CONSTRAINT [FK_Cong_Viec_Nguoi_Dung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cong_Viec] CHECK CONSTRAINT [FK_Cong_Viec_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Cong_Viec]  WITH CHECK ADD  CONSTRAINT [FK6xewhqiljr4c3ql0xe3em93bg] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
GO
ALTER TABLE [dbo].[Cong_Viec] CHECK CONSTRAINT [FK6xewhqiljr4c3ql0xe3em93bg]
GO
ALTER TABLE [dbo].[Cong_Viec_Ngay]  WITH CHECK ADD  CONSTRAINT [FK_Cong_Viec_Ngay_Cong_Viec] FOREIGN KEY([ma_cv])
REFERENCES [dbo].[Cong_Viec] ([ma_cv])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cong_Viec_Ngay] CHECK CONSTRAINT [FK_Cong_Viec_Ngay_Cong_Viec]
GO
ALTER TABLE [dbo].[Ghi_Chu_Ca_Nhan]  WITH CHECK ADD  CONSTRAINT [FK_Ghi_Chu_Ca_Nhan_Nguoi_Dung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ghi_Chu_Ca_Nhan] CHECK CONSTRAINT [FK_Ghi_Chu_Ca_Nhan_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Ghi_Chu_Mat_Khau]  WITH CHECK ADD  CONSTRAINT [FK_Ghi_Chu_Mat_Khau_Nguoi_Dung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ghi_Chu_Mat_Khau] CHECK CONSTRAINT [FK_Ghi_Chu_Mat_Khau_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Ghi_Chu_Mat_Khau]  WITH CHECK ADD  CONSTRAINT [FKewo83nn2g4ot7efebr5noreh4] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
GO
ALTER TABLE [dbo].[Ghi_Chu_Mat_Khau] CHECK CONSTRAINT [FKewo83nn2g4ot7efebr5noreh4]
GO
ALTER TABLE [dbo].[Hinh_Anh]  WITH CHECK ADD  CONSTRAINT [FK_Hinh_Anh_Cong_Viec_Ngay] FOREIGN KEY([ma_cv_ngay])
REFERENCES [dbo].[Cong_Viec_Ngay] ([ma_cv_ngay])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hinh_Anh] CHECK CONSTRAINT [FK_Hinh_Anh_Cong_Viec_Ngay]
GO
ALTER TABLE [dbo].[Su_Kien]  WITH CHECK ADD  CONSTRAINT [FK_Su_Kien_Nguoi_Dung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Su_Kien] CHECK CONSTRAINT [FK_Su_Kien_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Su_Kien]  WITH CHECK ADD  CONSTRAINT [FKb7ky3x0adl82jvfvxx8yovcj7] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
GO
ALTER TABLE [dbo].[Su_Kien] CHECK CONSTRAINT [FKb7ky3x0adl82jvfvxx8yovcj7]
GO
/****** Object:  StoredProcedure [dbo].[FindNearlyEvent]    Script Date: 4/25/2024 4:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindNearlyEvent]
    @ngay DATE,
    @maNd INT
AS
BEGIN
    SELECT * 
    FROM Su_Kien sk 
    WHERE sk.ngay BETWEEN @ngay AND DATEADD(DAY, 7, @ngay) 
    AND sk.ma_nd = @maNd
END
GO
USE [master]
GO
